h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}



h1 {
    position: relative;
    font-size: 5rem;
    animation-name: flip;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-dutation: 7s;
}

@keyframes flip {
from { transform: rotateY(0deg); }
to { transform: rotateY(360deg); }
}

html {
    block-size: 100%;
    inline-size: 100%;
}

body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
}

.links {
    text-align: left;
}

.content {
    margin: auto;
    max-width: 960px;
}

.hover a:hover{
    /*font-weight:bold;*/
    text-decoration:none;
    /*font-size:20px;*/
}

.instruction {
    transition: opacity 0.4s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: auto;
    transform: translate3d(-50%, -50%, 0);
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 100vw;
    color: black;
    line-height: 1;
}